<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Legacy Stock System Client</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Validate</servlet-name>
    <servlet-class>com.sogeti.digital.lss.client.ValidateLoginDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.sogeti.digital.lss.client.WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePass</servlet-name>
    <servlet-class>com.sogeti.digital.lss.client.ChangePassword</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>Stock</servlet-name>
    <servlet-class>com.sogeti.digital.lss.client.ManageStock</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePass</servlet-name>
    <url-pattern>/ChangePass</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Stock</servlet-name>
    <url-pattern>/Stock</url-pattern>
  </servlet-mapping>
</web-app>